:root {
  --active-button-color: #381;
  --base-padding: 1rem;
  --border-color-1: #fff;
  --border-color-2: #779;
  --border-radius: 0.8rem;
  --code-background-color: #002;
  --code-font-size: 1rem;
  --code-line-height: 1rem;
  --example-color: #234;
  --line-numbers-background-color: #000;
  --lines-left-pad: 2ch;
  --notes-background-color: #bbc;
  --notes-font-color: black;
  --output-color: #444;
}

pre {
  font-size: 1rem;
}

#stepByStepButtonWrapper {
  padding-top: var(--base-padding);
  padding-left: 8ch;
}

#stepByStepCodeLines {
  background-color: var(--code-background-color);
  padding-top: var(--base-padding);
  padding-left: var(--lines-left-pad);
  /*
  padding-bottom: var(--base-padding);
  border-top-right-radius: var(--border-radius);
  */
}

#stepByStepLineNumbers {
  background-color: var(--line-numbers-background-color);
  color: white;
  padding-top: var(--base-padding);
  padding-left: var(--base-padding);
  padding-bottom: var(--base-padding);
  border-top-left-radius: var(--border-radius);
}

#stepByStepNotes {
  font-family: sans-serif;
  font-size: 0.9rem;
}

#stepByStepNotes p:nth-child(n + 2) {
  margin-top: 0.8rem;
}

#stepByStepNotesSpacer {
  background-color: var(--notes-background-color);
  color: var(--notes-font-color);
  font-family: monospace;
  font-size: var(--code-font-size);
  margin-top: var(--base-padding);
  position: absolute;
  padding-left: 1ch;
  padding-right: 1ch;
  padding-top: 1ch;
  padding-bottom: 1ch;
  border: 1px solid var(--border-color-1);
  border-radius: 0.4rem;
}

#stepByStepOutputLines {
  background-color: var(--output-color);
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
  padding-left: var(--lines-left-pad);
  border-bottom-right-radius: var(--border-radius);
}

#stepByStepOutputNumbers {
  font-family: monospace;
  font-size: 1rem;
  background-color: var(--line-numbers-background-color);
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
  padding-left: var(--base-padding);
  border-bottom-left-radius: var(--border-radius);
}

#stepByStepOutputPointers {
  background-color: var(--line-numbers-background-color);
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
  border-right: 1px solid var(--border-color-2);
}

#stepByStepPointers {
  background-color: var(--line-numbers-background-color);
  padding-top: var(--base-padding);
  padding-bottom: var(--base-padding);
  border-right: 1px solid var(--border-color-2);
}

#stepByStepWrapper {
  position: relative;
  font-family: monospace;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 6ch 2ch 1fr;
  line-height: 1rem;
}

.activeButton {
  background-color: var(--active-button-color);
}

.h1 {
  color: blue;
}

.h2 {
  color: green;
}

.newLine {
  color: #392;
}

.pad-top {
  padding-top: 1rem;
}

.stepByStepButton {
  border: 1px solid black;
  border-radius: 0.3rem;
  margin-right: 0.3rem;
  box-shadow: 0.1rem 0.1rem 2.1px black;
}
