#foundation {
  position: relative;
  margin: 0;
  padding: 0;
}

#movingElement,
pre {
  font-family: monospace;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

#movingElement {
  position: absolute;
  left: 14ch;
  top: 8rem;
}
