#contentBlock {
  height: 120px;
  overflow-y: auto;
  border: 1px solid black;
}

#contentBlock > div {
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  margin-bottom: 92px;
}

#editor {
  min-height: 10rem;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
