#codeBlock {
  background-color: #8378;
  position: sticky;
  top: 120px;
  height: 250px;
  z-index: 2;
}

#contentBlock > div {
  padding-left: 0.2rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

#wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
