pre {
  line-height: 1.3rem;
}
#textBlock {
  font-family: monospace;
  position: absolute;
  top: 2.3rem;
  left: 5ch;
  padding:1ch;
  margin:0;
  background-color: #002;
  min-width: 60ch;
}

#wrapper {
  font-family: monospace;
  position: relative;
  padding:0;
  margin:0;
}

#outerWrapper {
  padding:0.8rem;
  background-color: #010;
  position: relative;
}

#words {
  font-family: sans-serif;
}
