#editor {
  min-height: 12rem;
}

#stepByStepRangeSlider {
  min-width: 20rem;
}

#notesContainer {
  max-width: 29rem;
  margin-top: 1.4rem;
  min-height: 9rem;
}

#notesContainer pre {
  background-color: black;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

#notesContainer code {
  font-weight: bold;
  color: #aac;
  font-family: monospace;
}
