*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
*/ body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #3a3845;
  color: #c69b7b;
}
h1,
h2 {
  color: #826f66;
}
a {
  color: #f7ccac;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #65b4f5;
}
a {
  color: #fffffe;
  text-decoration: none;
}
header {
  padding-top: 18px;
  padding-bottom: 4px;
  width: 100%;
  max-width: 98ch;
  margin: 0 auto;
  border-bottom: 1px solid #888;
}
main {
  width: 100%;
  max-width: 98ch;
  margin: 0 auto;
}
footer {
  width: 100%;
  max-width: 98ch;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 12px;
  font-size: 0.9rem;
}
p {
  max-width: 72ch;
}

code {
  border-radius: 22px;
}

input {
  margin: 1px;
}

li {
  margin-bottom: 17px;
}
