#codeArea {
  height: 180px;
  position: sticky;
  top: 20px;
  border: 1px solid black;
}

#contentArea {
  padding-top: 1rem; /*I think you need some padding here to make sure the things work reliatblye with the detection */
  padding-left: 9rem;
  width: 28rem;
}

#contentArea div {
  /* NOTE: Using padding-top to let the 
   * value switch befor it touches the text
   * when scrolling - could also move the box which
   * might be worth a try e.g: 
  padding-top: 3.1rem;
  actually turning off for now since it needs to hit
  the next value halfway thru
  */
  margin: 0;
  outline: 1px solid red;
}

#wrapper {
  position: relative;
}

#postText {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
